{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://local.wanderdev",
      "useLocalAssets": true
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".sass",
        ".less",
        ".scss",
        ".js",
        ".jpeg",
        ".jpg",
        ".png",
        ".svg"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 80
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 80
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/css/style.scss",
        "config": {
          "customOutput": "assets\\css\\style.min.css"
        }
      },
      {
        "file": "assets/img/bgs/bg_actividades.jpg",
        "config": {
          "originalSize": 674492,
          "optimized": true
        }
      },
      {
        "file": "assets/img/bgs/bg_cabanas.jpg",
        "config": {
          "originalSize": 290651,
          "optimized": true
        }
      },
      {
        "file": "assets/img/bgs/bg_comunidad.jpg",
        "config": {
          "originalSize": 509816,
          "optimized": true
        }
      },
      {
        "file": "assets/img/bgs/bg_locaciones.jpg",
        "config": {
          "originalSize": 671646,
          "optimized": true
        }
      },
      {
        "file": "assets/img/bgs/bg_rectangulo.png",
        "config": {
          "originalSize": 4162,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/37.jpg",
        "config": {
          "originalSize": 4498190,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/A44.jpg",
        "config": {
          "originalSize": 2193560,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/CW-14.jpg",
        "config": {
          "originalSize": 3349930,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/CW-15.jpg",
        "config": {
          "originalSize": 3558517,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/CW-17.jpg",
        "config": {
          "originalSize": 6901686,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/CW-21.jpg",
        "config": {
          "originalSize": 6705191,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/CW-35.jpg",
        "config": {
          "originalSize": 5566314,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/CW-6.jpg",
        "config": {
          "originalSize": 7509767,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Koli Sitio.jpg",
        "config": {
          "originalSize": 1478275,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Koli Tapanco.jpg",
        "config": {
          "originalSize": 913283,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Koli de afuera.jpg",
        "config": {
          "originalSize": 1389221,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Koli-7.jpg",
        "config": {
          "originalSize": 6422365,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Screen Shot 2021-06-14 at 5.08.54 PM.png",
        "config": {
          "originalSize": 774484,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Screen Shot 2021-06-14 at 5.09.04 PM.png",
        "config": {
          "originalSize": 792605,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/ValledeBravo0200.jpg",
        "config": {
          "originalSize": 16542621,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/ValledeBravo0207.jpg",
        "config": {
          "originalSize": 12687437,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/WANDER_111.JPG",
        "config": {
          "originalSize": 10890832,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/WANDER_119.JPG",
        "config": {
          "optimized": true,
          "originalSize": 1568737
        }
      },
      {
        "file": "assets/img/imgPrueba/Wander_iconosCocina.png",
        "config": {
          "originalSize": 104695,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/Wander_iconos_cama.png",
        "config": {
          "originalSize": 150030,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/_DSC3489.jpg",
        "config": {
          "originalSize": 29122020,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/_DSC3555.jpg",
        "config": {
          "originalSize": 23178512,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/bici.png",
        "config": {
          "originalSize": 244756,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/img_test.png",
        "config": {
          "originalSize": 140763,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/mos_bici-375x314.jpg",
        "config": {
          "originalSize": 96936,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/mos_caballo-375x314.jpg",
        "config": {
          "originalSize": 70543,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/mos_nature-375x314.jpg",
        "config": {
          "originalSize": 97532,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/mos_sende-375x314.jpg",
        "config": {
          "originalSize": 95847,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/paseo.png",
        "config": {
          "originalSize": 241786,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/port_malinalco_410x310.jpg",
        "config": {
          "originalSize": 104119,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/port_marquesa_410x310.jpg",
        "config": {
          "originalSize": 78983,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/port_valle_410x310.jpg",
        "config": {
          "originalSize": 91536,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_1.jpg",
        "config": {
          "originalSize": 43762,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_2.jpg",
        "config": {
          "originalSize": 119067,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_3.jpg",
        "config": {
          "originalSize": 102829,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_4.jpg",
        "config": {
          "originalSize": 101556,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_5.jpg",
        "config": {
          "originalSize": 105113,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_6.jpg",
        "config": {
          "originalSize": 93094,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_7.jpg",
        "config": {
          "originalSize": 61265,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-carrousel/slide_8.jpg",
        "config": {
          "originalSize": 115637,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-expe/slide_1-1400x600.jpg",
        "config": {
          "originalSize": 339534,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-expe/slide_2-1400x600.jpg",
        "config": {
          "originalSize": 599640,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide-expe/slide_3-1400x600.jpg",
        "config": {
          "originalSize": 269568,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slide_booking.png",
        "config": {
          "originalSize": 877522,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/CheckIn_1478x783.jpg",
        "config": {
          "originalSize": 558196,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/CheckIn_1478x783px.png",
        "config": {
          "originalSize": 2539166,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/CheckIn_600x400.png",
        "config": {
          "originalSize": 367535,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/CheckIn_600x40px.png",
        "config": {
          "originalSize": 516490,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/CheckIn_992x600.png",
        "config": {
          "originalSize": 879029,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/CheckIn_992x600px.png",
        "config": {
          "originalSize": 1305171,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Reserva_1478x783.png",
        "config": {
          "originalSize": 1596704,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Reserva_1478x783px.png",
        "config": {
          "originalSize": 2576367,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Reserva_600x400.png",
        "config": {
          "originalSize": 380212,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Reserva_600x400px.png",
        "config": {
          "originalSize": 523293,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Reserva_992x600.png",
        "config": {
          "originalSize": 893388,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Reserva_992x600px.png",
        "config": {
          "originalSize": 1323417,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Solicita_1478x783.png",
        "config": {
          "originalSize": 1617472,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Solicita_1478x783px.png",
        "config": {
          "originalSize": 2567457,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Solicita_600x400.png",
        "config": {
          "originalSize": 377605,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Solicita_600x400px.png",
        "config": {
          "originalSize": 521105,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Solicita_992x600.png",
        "config": {
          "originalSize": 901222,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-app/Solicita_992x600px.png",
        "config": {
          "originalSize": 1319844,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-main/slide_1-1440x700.jpg",
        "config": {
          "originalSize": 782939,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-main/slide_2-1440x700.jpg",
        "config": {
          "originalSize": 635235,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-main/slide_3-1440x700.jpg",
        "config": {
          "originalSize": 830643,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/slider-main/slide_4-1440x700.jpg",
        "config": {
          "originalSize": 737515,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/wander iconos telelfono.png",
        "config": {
          "originalSize": 102585,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/wander iconos_cabana.png",
        "config": {
          "originalSize": 414628,
          "optimized": true
        }
      },
      {
        "file": "assets/img/imgPrueba/wander iconos_connecta copy 2.png",
        "config": {
          "originalSize": 202309,
          "optimized": true
        }
      },
      {
        "file": "assets/js/scripts/formScripts.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "assets/js/scripts/genericScript.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "assets/js/scripts/layoutScripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "assets\\js\\scripts\\layoutScripts.min.js"
        }
      },
      {
        "file": "assets/js/scripts/mapaScript.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "assets/js/scripts/scriptReservar.js",
        "config": {
          "autoCompile": true
        }
      },
      {
        "file": "assets\\img\\imgPrueba\\wander iconos_cabaña.png",
        "config": {
          "originalSize": 414628
        }
      }
    ]
  }
}
