[viewBag]
==
<header id="headerGeneral" class="gHeader headerInt">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-12 d-none d-lg-block">
        <div class="logoHead" style="text-align: center  !important;">
          <a href="{{'inicio'|page}}">
            <img src="{{'assets/img/logos/wander-full-white.svg'|theme}}" alt="Wander">
            <h1 class="site-title">Wander</h1>
          </a>
        </div><!-- end.logoHead -->
      </div><!-- end.col-* -->

    </div><!-- edn.row -->
  </div><!-- end.container -->
</header><!-- end.Header -->

<!-- MenuMobile -->
<div id="mm" class="cont-menu-mobile" data-menu-expand="false">
  <div id="contListMenu" class="mnuContMob">

  </div>
</div>
<!-- end.MenuMobile -->