/* ==|====================
   Layout/Header
   ======================= */

// Header Principal Sticky
.gHeader {
  width: 100%; height: auto; @include position(absolute, 0 null null 0); padding: 15px 0; margin: 0; z-index: 100; border-bottom: none; @include transition(transform 200ms ease, all 0.25s); box-shadow: 0 0 0 rgba($black, 0.0);
  background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  &.activeHead {
    box-shadow: 0 4px 10px rgba($black, 0.10); background: rgba($col3, 0.90);
  }
  &.headerInt {
    position: relative; top: inherit; left: inherit; background: $col3; box-shadow: 0 4px 10px rgba($black, 0.10);
  }
}
// Logo Principal Estilos
.logoHead {
  width: auto; height: auto; padding: 0; margin: 0; text-align: left;
  a {
    display: inline-block; width: auto; height: auto; margin: 0 auto 0 0;
    img {
      display: block; width: 100%; max-width: 90px; height: auto; margin: 0 auto; padding: 0;
    }
    .site-title {
      font-size: 0; text-indent: -9999px; color: $black; opacity: 0; margin: 0; padding: 0;
    }
  }
  @media all and (min-width: 576px) {
    a {
      img {
        max-width: 108px;
      }
    }
  }
}

.posRelative {
  position: relative;
}
.menuMain {
  width: 100%; height: auto; padding: 0; margin: 0;
  nav {
    width: 100%; height: auto; padding: 0; margin: 0; display: none;
    ul {
      width: 100%; height: auto; padding: 0; margin: 0; list-style-type: none; @include displayFlex(flex, row, center, center, wrap);
      li {
        list-style-type: none; padding: 0; margin: 0 30px 0 0;
        a {
          color: $white; margin: 0; padding: 0; text-transform: uppercase; text-decoration: none; font-family: $acuminbd; font-weight: 400; letter-spacing: 1px;
          &.menuIemHover {
            position: relative;
            &:before {
              content: ''; width: 0; height: 2px; padding: 0; margin: 0; background-color: $white; @include position(absolute, null null -13px 0); @include transition(all 0.25s ease);
            }
          }
          &.secondary-menu {
            &:after {
              content: '\f078'; font-family: 'fontAwesome'; width: 15px; height: 15px; font-size: rem(8px); @include position(absolute, 2px -17px null null); text-align: center; line-height: 15px;
            }
          }
          &:hover {
            color: $white;
            &.menuIemHover {
              &:before {
                width: 100%;
              }
            }
          }
          &.activo {
            color: $white;
            &.menuIemHover {
              &:before {
                width: 100%;
              }
            }
          }
          // &:link, &:visited {
          //   color: $col1;
          // }
          // &:active {
          //   color: $c3;
          // }
        }
        &:last-child {
          margin: 0 0 0 0;
        }
        & .block-sub-menu {
          width: 100%; height: auto!important; padding: 20px 0; margin: 0; background-color: $white; @include position(absolute, 100% null null 0); z-index: 90;
          ul.menuCars {
            width: 100%; height: auto; padding: 0; margin: 0 0 20px 0; list-style-type: none; @include displayFlex(flex, row, flex-start, flex-start, wrap);
            li {
              list-style-type: none; padding: 0 0; margin: 0 40px 0 0;
              a {
                color: $black; font-size: rem(14px); position: relative;
                &:before {
                  content: ''; width: 100%; height: 0; opacity: 0; padding: 0; margin: 0 0 0 0; background-color: $col1; @include position(absolute, -18px null null 0); @include transition(all 300ms ease);
                }
                // &.activo {
                //   color: $col1;
                //   &:before {
                //     height: 3px; opacity: 1;
                //   }
                // }
                &:hover {
                  color: $col1;
                  &:before {
                    height: 3px; opacity: 1;
                  }
                }
              }
              &:last-child {
                margin: 0 0 0 0;
              }
              &.activo {
                a {
                  color: $col1;
                  &:before {
                    height: 3px; opacity: 1;
                  }
                }
              }
            }
          }
          &:before {
            content: ''; width: 100%; height: 5px; padding: 0; margin: 0 0 0 0; background-color: $col1; @include position(absolute, 0 null null 0);
          }
        }
        &.activo {
          a {
            color: $col1;
          }
        }
        &.subPosItem {
          position: relative;
        }
      }
    }
  }
  @media all and (min-width: 768px) {
    nav {
      ul {
        li {
          margin: 0 20px 0 0;
          a {
            font-size: rem(13px);
          }
          & > .sub-menu {
            width: 200px; height: auto!important; padding: 20px 0 14px 0; margin: 0; background-color: $white; @include position(absolute, 100% null null 50%); @include transform(translateX(-50%)); z-index: 90; @include displayFlex(flex, column, center, center, wrap); border-radius: 6px; display: none; @include transition(all 0.30s ease);
            li {
              padding: 5px 0; margin: 0 auto; display: block; border-bottom: 0.6px solid rgba($black, 0.30); width: calc(100% - 10px); text-align: center;
              a {
                font-size: rem(13px); text-align: center;
                &:before {
                  display: none;
                }
              }
              &:last-child {
                border-bottom: none;
              }
            }
            &:before {
              content: ''; width: 100%; height: 3px; padding: 0; margin: 0 0 0 0; background-color: $col1; @include position(absolute, null null 0 0);
            }
          }
          &:hover {
            & > .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
  @media all and (min-width: 992px) {
    nav {
      display: block;
      ul {
        li {
          margin: 0 10px 0 0;
          a {
            font-size: rem(13px);
          }
        }
      }
    }
  }
  @media all and (min-width: 1024px) {
    nav {
      ul {
        li {
          margin: 0 15px 0 0;
          a {
            font-size: rem(13px);
          }
        }
      }
    }
  }
  @media all and (min-width: 1200px) {
    nav {
      ul {
        li {
          margin: 0 20px 0 0;
          a {
            font-size: rem(16px);
          }
        }
      }
    }
  }
}

.menu-mobile-btn {
  width: 40px; height: 40px; display: block; margin: 0 0 0 auto; padding: 0; position: relative; border: none; @include box-sizing(border-box); background-color: transparent; cursor: pointer;
  span {
    width: 15px; height: 2px; @include position(absolute, 50% 8px null null); background-color: $white; @include transform(translateY(-50%)); opacity: 1; @include transition(opacity 0.18s ease-in-out);
  }
  &:before, &:after {
    content: ''; width: 25px; height: 2px; @include position(absolute, null null null 7px); background-color: $white; @include transition(transform 0.25s ease);
  }
  &:before {
    top: 10px; @include transform(rotate(0deg));
  }
  &:after {
    bottom: 10px; @include transform(rotate(0deg));
  }
  &:hover {
    span { opacity: 0; }
    &:before {
      top: 19px; @include transform(rotate(45deg));
    }
    &:after {
      bottom: 19px; @include transform(rotate(-45deg));
    }
  }
  &[data-menu-expand="true"] {
    span { opacity: 0; background-color: $white; }
    &:before {
      top: 19px; @include transform(rotate(45deg));background-color: $white;
    }
    &:after {
      bottom: 19px; @include transform(rotate(-45deg));background-color: $white;
    }
  }
  &[data-menu-expand="false"] {
    span { opacity: 1; }
    &:before {
      top: 10px; @include transform(rotate(0deg));
    }
    &:after {
      bottom: 10px; @include transform(rotate(0deg));
    }
  }
  @media all and (min-width: 992px) {
    display: none;
  }
}

// Menu Mobile
.cont-menu-mobile {
  @extend .overlayClass; background-color: rgba($col3, 0.90); z-index: -1; overflow-y: auto;
  .mnuContMob {
    width: 100%; height: auto; padding: 0; margin: 100px 0 0 0;
    ul {
      list-style-type: none; @include displayFlex(flex, column, center, center, nowrap); margin: 10px auto; padding: 0 0; width: 300px;
      li {
        list-style-type: none; width: 100%; height: auto; border-bottom: 1px solid rgba($white, 0.30);
        a {
          display: block; color: $white; text-transform: uppercase; width: 100%; height: 40px; line-height: 40px; background-color: rgba(255,255,255,0.0); text-align: center; @include transition(all 0.25s ease); font-family: $acuminbd; font-weight: 400; text-decoration: none;
          &.secondary-menu {
            position: relative;
            &:after {
              content: '\f078'; font-family: 'fontAwesome'; width: 15px; height: 15px; font-size: rem(13px); @include position(absolute, 50% 5px null null); text-align: center; line-height: 15px; @include transform(translateY(-50%));
            }
          }
          &:hover {
            background-color: rgba(255,255,255,0.10);
          }
        }
        & > .sub-menu {
          display: none;
          li {
            a {
              color: $c3; margin: 0 0 0 0; padding: 0; font-size: rem(14px);
              img {
                width: 25px; height: auto;
              }
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.toolsHead {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; @include displayFlex(flex, row, flex-end, center, wrap);
  &__link {
    margin: 0 10px 0 0;
    &--acceso {
      width: auto; height: 24px; display: block; @include fluid-type(12px, 14px, 320px, 1200px); color: $white; text-decoration: none; background-color: $col1; line-height: 24px; text-align: center; padding: 0 15px; border-radius: 12px; text-transform: uppercase; letter-spacing: 1px; font-family: $acuminbd; font-weight: 400;
      span {
        display: none;
      }
      &:hover {
        color: $white!important; background-color: $col2;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
  @media all and (min-width: 576px) {
    right: 20px;
    &__link {
      &--acceso {
        span {
          display: inline-block;
        }
      }
    }
  }
}

.ctLoginBtn {
  width: auto; height: 24px; display: block; background-color: $col1; line-height: 24px; text-align: center; padding: 0 15px; border-radius: 12px; position: relative; margin: 0 10px 0 0;
  & .btnLogMod {
    @include fluid-type(12px, 14px, 320px, 1200px); color: $white; text-decoration: none; text-transform: uppercase; letter-spacing: 1px; font-family: $acuminbd; font-weight: 400;
  }
  & .logoutBtn {
    width: 20px; height: 20px; display: block; text-align: center; line-height: 20px; margin: 0; padding: 0; color: $col1; background-color: transparent; @include position(absolute, 0 0 null null); z-index: 2; font-size: rem(15px); border: none; cursor: pointer; border-radius: 0; box-shadow: none;
  }
}