title = "Cambio de fechas"
url = "/cambio-de-fechas"
layout = "layout"
is_hidden = 1
robot_index = "noindex"
robot_follow = "nofollow"

[builderList cabanasList]
modelClass = "Roll\Cabanas\Models\Cabana"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "nombre"
noRecordsMessage = "No se han encontrado registros"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList ubicacionesList]
modelClass = "Roll\Cabanas\Models\Ubicacion"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "nombre"
noRecordsMessage = "No se han encontrado registros"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[reservaManual]
==
{% set ubicaciones = ubicacionesList.records %}
{% set cabanas = cabanasList.records %}

<article class="bg-gen">
  <section class="descFull">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2> <a href="/backend/roll/reservaciones/reservaciones" title="Atras"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
             {{ 'cambioDeFechas'|_ }}</h2>
          {{ form_ajax('onModificar')}}
            {% flash %}
                <div class="alert alert-warning" style="text-align:center;">
                    {{ message|raw }}
                </div>
            {% endflash %}
          <div class="row" data-input-home>
            <div class="col-12"><h4>{{ 'idReservacion'|_ }}</h4></div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="reserva" id="reserva" placeholder="ID">
            </div>
            <div class="col-12"><h4>{{ 'Cliente'|_ }}</h4></div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="correo" id="correo" placeholder="{{ 'correoElectronico'|_ }}">
            </div>
            <div class="col-12"><h4>{{ 'Cabaña'|_ }}</h4></div>
            <!--<div class="col-12 col-md-6" style="margin-bottom: 10px;">
              <div class="inputSelect wIn" data-input-home style="margin-bottom: 10px;">
                <select class="custom-select" name="locacion" id="locacion">
                  <option value="">Locación</option>
                  {% for ubicacion in ubicaciones %}
                  {% if ubicacion.disponible == true %}
                  {% if ubicacion.id == 1 %}
                  <option value="{{ubicacion.id}}">{{ubicacion.nombre}}</option>
                  {% else %}
                  <option value="{{ubicacion.id}}">{{ubicacion.nombre}}</option>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>-->
            <div class="col-12 col-md-6" style="margin-bottom: 10px;">
              <div class="inputSelect wIn" data-input-home style="margin-bottom: 10px;">
                <select class="custom-select" name="cabana" id="cabana">
                  <option value="">{{ 'Cabaña'|_ }}</option>
                  {% for cabana in cabanas %}
                  <option value="{{cabana.id}}">{{cabana.nombre}} - {{cabana.ubicacion.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
            </div><!-- end.col-* -->
            <div class="col-12">
              <h4>{{ 'checkIn'|_ }}</h4>
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="checkin-a" id="checkin-a" placeholder="AAAA">
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="checkin-m" id="checkin-m" placeholder="MM">
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="checkin-d" id="checkin-d" placeholder="DD">
            </div><!-- end.col-* -->
            <div class="col-12">
              <h4>{{ 'checkOut'|_ }}</h4>
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="checkout-a" id="checkout-a" placeholder="AAAA">
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="checkout-m" id="checkout-m" placeholder="MM">
            </div>
            <div class="col-12 col-md-4" style="margin-bottom: 10px;">
              <input type="text" class="form-control" name="checkout-d" id="checkout-d" placeholder="DD">
            </div><!-- end.col-* -->
            <div class="col-12 text-center">
              <button type="submit" class="btnpr btnpr__primary btnpr__primary--border nB">{{ 'Guardar'|_ }}</button>
            </div>
          </div><!-- end.row -->
          
          {{ form_close() }}
        </div>
      </div>
    </div>
  </section>
</article>