title = "Consulta de reservacion"
url = "/reservacion/:id"
layout = "layout"
is_hidden = 0
canonical_url = "https://wandercabins.mx/reservacion"
robot_index = "noindex"
robot_follow = "nofollow"
[miReserva]
[session]
security = "all"
==
{% if reserva %}
<article class="bg-gen">
  <div class="reservaCt">
    <div class="descFullPage">
      <img src="{{ 'assets/img/logos/logo-wander-black-text.svg'|theme }}" alt="Wander">
      <h2>{{ 'detallesDeReservacion'|_ }}</h2>
    </div>
    <div class="payContent">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-6">
          <h4>{{reserva.user.name}}<br>
          <small>{{reserva.user.email}}  +{{reserva.user.codigo_telefonico}} {{reserva.user.telefono}}</small><br><br>
          {{ 'Cabaña'|_ }} {{reserva.cabana.nombre}} {{ 'en'|_ }} {{reserva.ubicacion.nombre}}, {{reserva.noches}} {{ 'noches'|_ }}.<br></h4>
            <div class="payContent__box" style="text-align=left;">
              <p><small>{{ 'numeroDeReservacion'|_ }}: </small>{{reserva.id}}<br>
              <small>{{ 'Estatus'|_ }}: </small>{{reserva.estatus}}<br>
              <small>{{ 'reservadoEl'|_ }}: </small>{{reserva.created_at|date("d/m/Y H:m")}}hrs.<br>
              <br>
              <small>{{ 'checkIn'|_ }}: </small>{{reserva.inicio|date("d/m/Y")}} 16:00hrs.<br>
              <small>{{ 'checkOut'|_ }}: </small>{{reserva.fin|date("d/m/Y")}} 12:00hrs.<br>
              <small>{{ 'Adultos'|_ }}: </small>{{reserva.adultos}}<br>
              <small>{{ 'Niños'|_ }}: </small>{{reserva.ninos}}<br>
              <small>{{ 'accesoAMascotas'|_ }}: </small>{% if reserva.mascotas == 0 %}NO{% else %}SI{% endif %}<br>
              <br>
              <small>{{ 'totalPagado'|_ }}: </small>${{reserva.costo_total|number_format(2, '.', ',') }} <small>MXN.</small><br><br>
              <small>{{ 'cuponDeDescuento'|_ }}: </small>{% if reserva.cupon %}{{reserva.cupon.cupon}} <br>
                  <small>{{ 'porcentajeDescuento'|_ }}: </small> {{reserva.cupon.descuento}} % <br>
                  <small>{{ 'montoDeDescuento'|_ }}: </small> ${{reserva.descuento}}<br>{% else %}{{ 'noAplico'|_ }}{% endif %}<br>
              <small>{{ 'claveDeAcceso'|_ }}: </small>{{reserva.cabana.clave_acceso}}<br><br>
               {{ 'nuestroEquipoContacto'|_ }}<br>
              </p>
            </div>
            {% if reserva.servicios %}
                <h4>{{ 'serviciosExtra'|_ }}:<br/>
                    {% for servicio in reserva.servicios %}
                        {% if servicio.servicio.tipo == 'kit' %}
                            <small>{{servicio.servicio.nombre}} ${{servicio.costo|number_format(2, '.', ',') }} <small>MXN.</small></small><br/>
                        {% elseif servicio.servicio.tipo == 'extended' %}
                            <small>{{servicio.servicio.nombre}} ${{servicio.costo|number_format(2, '.', ',') }} <small>MXN.</small></small><br/>
                        {% elseif servicio.servicio.tipo == 'actividad' %}
                            <small>{{servicio.cantidad}} {{servicio.servicio.nombre}} {{ 'por'|_ }} {{servicio.dias}} {{ 'dias'|_ }} ${{servicio.costo|number_format(2, '.', ',') }} <small>MXN.</small></small><br/>
                        {% elseif servicio.servicio.tipo == 'alimentos' %}
                            <small>{{servicio.cantidad}} {{servicio.servicio.nombre}} {{ 'por'|_ }} {{servicio.dias}} {{ 'dias'|_ }} ${{servicio.costo|number_format(2, '.', ',') }} <small>MXN.</small></small><br/>
                        {% elseif servicio.servicio.tipo == 'amenidades' %}
                            <small>{{servicio.cantidad}} {{servicio.servicio.nombre}} {{ 'laNoche'|_ }} {{servicio.fecha}} ${{servicio.costo|number_format(2, '.', ',') }} <small>MXN.</small></small><br/>
                        {% else  %}
                            <small>{{servicio.cantidad}} {{servicio.servicio.nombre}} ${{servicio.costo|number_format(2, '.', ',') }} <small>MXN.</small></small><br/>
                        {% endif %}
                    {% endfor %}
                </h4>
                <br>
            {% endif %}
            <h4>{{ 'Huéspedes'|_ }}:<br/>
            {% for huesped in reserva.huespedes %}
                <small>{{huesped.nombre}} - {{huesped.edad}} {{ 'anos'|_ }}</small><br/>
            {% endfor %}
            </h4>
          </div><!-- end.col-* -->
        </div><!-- end.row -->
      </div><!-- end.container -->
    </div><!-- end.payContent -->
  </div><!-- end.reservaCt -->
</article><!-- end.bg-gen -->
{% else %}
<article class="bg-gen">
  <div class="reservaCt">
    <div class="descFullPage">
      <img src="{{ 'assets/img/logos/logo-wander-black-text.svg'|theme }}" alt="Wander">
      <h2>{{ 'ocurrioUnError'|_ }}</h2>
    </div>
       <div class="payContent">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-6">
            <h4>{{ 'noSeEncontroReserva'|_ }}</h4><br>
          </div>
        </div>
     </div>
  </div>
</article>
{% endif %}
